.dashboard-container {
  padding: 0px;
  margin: 0px;
  background-color: #bfdff5;
  min-height: 100vh;
}

.dashboard-header {
  text-align: center;
  padding: 30px 0;
  background-color: #aae858;
  font-family: "Cal Sans", sans-serif;
  border-bottom: 1px solid #ccc;
}

.dashboard-header h1 {
  color: #1c4274;
}

.kpi-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
