.choose-user-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #aae858;
  padding: 0;
  margin: 0;
  padding: 50px;
}
