.content-wrapper {
  display: flex;
  flex-direction: row;
  /* subtract navbar height */
}

.sidebar {
  flex-shrink: 0; /* prevents sidebar from shrinking */
}

.profile-container {
  flex: 1;
  border: 1px solid red;
  background: white;
}
